body {
    margin: 0;
    background: #f3f3f3;
}

.infoSect {
    position: relative;
    height: 400px;
}

.upsideInfo {
    height: 80%;
}

.concentInfo {
    height: 20%;
}

.buttonLocation {
    padding : 10px;
    text-align: center;
}

.menu-img {
    cursor: pointer;
    width : 60px;
    height : 60px;
}

.refresh-img {
    margin-left: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.topSect {
    display: flex;
    justify-content: space-between;
}

.topSect div {
    display: flex;
    align-items: center;
}

.js-weather {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.js-weather p {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.dateInfo {
    font-size: 20px;
    font-weight: bold;
    color: #353b48;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.username {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.name-input {
    width: 255px;
    height: 20px;
}

/* .todoSect {
    display: flex;
    justify-content: center;
} */

.todo-list {
    margin: 10px;
}

.add-task {
    width: 200px;
    height: 20px;
}

.concentAvgInfo {
    box-sizing: content-box;
    font-size: 30px;
    display: inline-block;
    color: #f3f3f3;
    width: 50%;
    text-align: center;
}

.concentTimeInfo {
    text-align: center;
    box-sizing: content-box;
    font-size: 30px;
    display: inline-block;
    color: #f3f3f3;
    width: 49%;
}

/* button */
.start-btn {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.start-btn:hover {
    background: #fff;
    color: #1AAB8A;
}

.start-btn:before,
.start-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.start-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.start-btn:hover:before,
.start-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.infoSect, .todoSect {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}