body {
    margin: 0;
    background: #f3f3f3;
}

.instruction-cover {
    width: 1010px;
    height: 640px;
    margin-left:auto;
    margin-right: auto;
    background:rgba(53, 59, 72, 0.7);
    background-image: url('public/instruct.png');
    background-size: cover;
}

.infoSect {
    position: relative;
    height: 400px;
}

.menu-img {
    cursor: pointer;
    width : 60px;
    height : 60px;
}

.refresh-img {
    margin-left: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.topSect {
    display: flex;
    justify-content: space-between;
}

.topSect div {
    display: flex;
    align-items: center;
}

.js-weather {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.js-weather p {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.dateInfo {
    font-size: 20px;
    font-weight: bold;
    color: #353b48;
    text-align: center;
    text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
    -moz-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
    -webkit-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.username {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.username h2 {
    text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
    -moz-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
    -webkit-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}

.name-input {
    width: 255px;
    height: 20px;
}

.buttonLocation {
    display: flex;
    padding : 10px;
    justify-content: space-between;
    align-items: center;
}

.buttonLocation > h1 {
    font-size: 50px;
    margin:0;
    cursor: pointer;
    text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
    -moz-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
    -webkit-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}

.buttonLocation h2 {
    cursor: pointer;
    margin:0;
    font-size: 35px;
}

.todo-list {
    margin: 10px;
}

.add-task {
    width: 200px;
    height: 20px;
}

/* button */
.start-btn {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    outline: none;
}

.start-btn:hover {
transition: 800ms ease all;
    background: #fff;
    color: #1AAB8A;
}

.start-btn:before,
.start-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.start-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.start-btn:hover:before,
.start-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.infoSect, .todoSect {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}