html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(180deg, rgb(0, 204, 153), rgb(204, 153, 255)); /* Standard syntax (must be last) */
}
p {
    margin: 10px;
}
.home-img {
    cursor: pointer;
    width: 60px;
    height : 60px;
    margin-top: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.display-on {
    animation: fadeIn 0.5s;
    opacity: 1;
}
.display-off {
    animation: fadeOut 0.5s;
    opacity: 0;
}
.conc-zone {
    display: none;
    flex-direction: column;
    align-items: center;
}

.conc-zone h1 {
    color: #fff;
    font-size: 60px;
}

.conc-zone div {
    margin-bottom: 20px;
}

.conc-zone div h2 {
    color: #fff;
    display: inline;
}

.conc-zone .rating-num {
    position: absolute;
    margin: 0 7px;
}

.conc-zone button {
    margin-top: 20px;
}

.conc-rate {
    display: flex;
}

.conc-rate h3 {
    margin-left: 10px;
    color: #fff;
}

#numOfset{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}
.buttonLocation {
    margin : 2%;
    text-align: center;
}
#startbtn {
    width: 150px;
    height: 40px;
    color: #fff;
    background: none;
    border-radius: 5%;
    border: 1px solid #fff;
}
#setPomoNum{
    color: #fff;
    text-align: center;
    font-size: 60px;
    margin:0;
}
.time-table {
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-top : 250px;
}
.totalTime {
    text-align: center;
    font-size: 30px;
}
.avgConcent {
    text-align: center;
    font-size: 30px;
}
.breakSect {
    color: #fff;
}
.time-info {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}